* {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #aaa5a5;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3b99f8;
    border-radius: 5px;
  }
}

body{
  background-color:#eee ;
}
